.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerTitle {
  font-size: 40px;
  font-weight: bold;
}

.headerList {
  display: flex;
  color: 364153;
  letter-spacing: 0.7;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.headerItem {
  margin-right: 30px;
}

.headerItem:last-child {
  margin-right: 0;
}
