.sectionAboutMe {
  padding: 128px 0;
  background-color: linear-gradient(to right, 000000.6, 000000.2, 000000);
  margin: 0 auto;
}

.textAbout {
  width: 668px;
  display: block;
  margin-bottom: 68px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  padding: 32px 0;
}

.divContainerGap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.WrapperAboutBottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
}
