.mainContainer {
  background-image: url("../../../img//main_back.jpg");
  padding: 221px 0;
  background-size: cover;
  background-position: center;
}

.mainTitle {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 814px;
}

.mainTitle3 {
  font-size: 86px;
  font-weight: bold;
  text-align: center;
  color: #7b3306;
  margin-top: 18px;
  margin: 0 auto;
  width: 751px;
}

.mainText {
  margin-top: 18px;
  font-size: 20px;
  color: #364153;
  text-align: center;
  width: 751px;
  margin: 0 auto;
}

.mainButton {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fe9a00;

  border-radius: 33;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 64px;
  cursor: pointer;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mainButtonArrow {
  margin-left: 8px;
  width: 14px;
}

.mainButton:hover,
.mainButton:focus {
  color: #fe9a00;
  background-color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 1px solid #fe9a00;
}

.mainButton:hover .mainButtonArrow,
.mainButton:hover .mainButtonArrow {
  color: #fe9a00;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
