.woodImgWrapper {
  background: linear-gradient(180deg, rgba(255, 251, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.woodImgWrapper ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.woodImgWrapper li {
  list-style: none;
}
